h1 {
    font-family: "Nunito Sans", Courier, monospace;
    font-weight: 600;
  }
  
  h2 {
    font-family: "Nunito Sans", Courier, monospace;
    font-weight: 600;
  }
  
  body {
    font-family: "Nunito Sans", Courier, monospace;
    font-weight: 400;
  }
  